h1 {
  text-align: center;
  color: rgb(247, 183, 20);
  font-size: 200;
  height: 300px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.btn-1 {
  width: 300px;
  height: 100px;
  border: none;
  color: darkgray;
  background-color: rgb(255, 196, 0);
  border-radius: 4px;
  box-shadow: inset 0 0 0 0 #916100;
  transition: ease-out 0.3s;
  font-size: 2rem;
  outline: none;

}

.btn-1:hover {
  box-shadow: inset 300px 0 0 0 #443500;
  cursor: pointer;
  color: black;
}

.itemtext {
  color: #ffaa01;

}

.rotate-center {
  -webkit-animation: rotate-center 0.6s ease-in-out both;
  animation: rotate-center 0.6s ease-in-out both;
}

h2 {
  color: rgb(255, 149, 0);
}

p {
  color: rgb(255, 149, 0);
}

a {
  color: #ffaa01;
}


@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.slide-top {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing:border-box ;
  font-family:'san-serif';

}


.header {
  position:fixed;
  top: 95vh;;
  left:0;
  width: 100%;
  padding:20px 100px;
  background-color:rgb(65, 65, 62);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;

}


.lego {
  font: 35px;
  color: rgb(99, 99, 99);
  text-decoration:none ;
  font-weight: 700;
}


.navbar a {
  position: relative;
  font-size: 18px;
  color: rgb(255, 145, 0);
  font-weight: 500;
  text-decoration:none ;
  margin-left:40px;

}



.navbar a::before {
  content: '';
  position: absolute;
  top: 100%;
  width: 0;
  left: 0;
  height: 2px;
  background: rgb(190, 108, 1);
  transition: .3s ;
}


.navbar a:hover::before {
width: 100%;

}

* {
  margin: 0;
  padding: 0;
  box-sizing:border-box ;
  font-family:'san-serif';

}


body {
  min-height: 100vh;
  background-image:url(Background.jfif);
  background-size:cover ;
  background-position: center;
}


.headerM {
  position:fixed;
  top:0;
  left:0;
  width: 100%;
  padding:20px 100px;
  background-color:rgb(74, 74, 74);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;

}


.legoM {
  font: 35px;
  color: rgb(255, 145, 0);
  text-decoration:none ;
  font-weight: 700;
}


.navbarM a {
  position: relative;
  font-size: 18px;
  color: rgb(255, 162, 0);
  font-weight: 500;
  text-decoration:none ;
  margin-left:40px;

}



.navbarM a::before {
  content: '';
  position: absolute;
  top: 100%;
  width: 0;
  left: 0;
  height: 2px;
  background: rgb(255, 145, 0);
  transition: .3s ;
}


.navbarM a:hover::before {
width: 100%;

}

form {
  text-align: center;   
  color: goldenrod;
 }
 
 label {
     color: rgb(165, 131, 37);
 }
 

 
 body{
     text-align: center;
     color: darkgoldenrod;
 }
 
 p{
     text-align: center;
     color: rgb(179, 115, 38);
 }

 h2 {
  text-align: center;
  color: rgb(247, 183, 20);
  font-size: 200;
  height: 300px;
}
